.u-center-text { text-align: center; }

.u-margin-bottom-bg {
	margin-bottom: $margin-big;
}

.u-margin-bottom-md{
	margin-bottom: $margin-medium;
}

.u-margin-bottom-sm{
	margin-bottom: 1.5rem;
}

.u-margin-top-bg {
	margin-top: $margin-big;
} 

.u-margin-top-md {
	margin-top: $margin-medium;
}

.u-margin-top-sm {
	margin-top: 1.5rem;
}